.container > * {
  color: #205140;
}
.forZoom {
  zoom: 50%;
}

.card {
  background-color: #fbfcf7;
  border-radius: 12px;
  width: 280px;
}
.divider {
  border-color: #235343;
  height: 0px;
}
.thumbnail {
  height: 54px;
  width: 54px;
  background-color: #7c7c7c;
  border-radius: 54px;
}
.thumbnail-large {
  height: 90px;
  width: 90px;
  background-color: #7c7c7c;
  border-radius: 90px;
}
.subtitle {
  font-weight: 400;
}
.ant-layout {
  background-color: white;
}
.count {
  text-align: center;
  color: #6e642e;
  font-weight: bold;
}
/* .forSelect.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color: black;
  background-color: white;
  height: 47px;
} */
.forSelect{
  color: black;
  background-color: white;
  height: 50px;
  width: 150px;
  font-size: 20px;
  cursor: pointer;
}


.ant-select-selection-item{
  font-size: 25px;
  margin-top: 6px;
}
.tile {
  width: 220px;
  background-color: #f3f7c9;
  border-radius: 10px;
  margin: 16px;
}
.tile-logo {
  height: 100px;
  width: 100px;
}

.navButton,
.navButtonSelected {
  font-size: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.navButtonSelected {
  background-color: #252c68;
  color: #fff;
}
.navButtonSelected p {
  font-size: 32px;
}
.navButton p {
  font-size: 32px;
}
.refrences {
  color: #014c3d;
  font-size: 12px;
  font-weight: 700;
  font-family: "Mukta";
}
.NIPUNheading {
  text-align: center;
  padding: 12px;
  background-color: rgba(196, 196, 196, 0.15);
  color: #014c3d;
  font-weight: 700;
  font-size: 30px;
}
/* .District-wise-div {
  text-align: center;
  padding: 12px;
  background-color: rgba(196, 196, 196, 0.15);
  font-weight: bold;
}
.Districtwice {
  text-align: center;
  padding: 12px;
  background-color: rgba(196, 196, 196, 0.15);
  font-weight: bold;
  background-color: #252c68;
  color: #fff;
  font-size: 9px;
  margin-right: 5px;
} */



