:root {
  --theme_purple: #653397;
  --theme_green: #014c3d;
}

.divider {
  /* border-color: var(--theme_purple); */
  border-color: var(--theme_green);
  height: 30px;
}

.title {
  max-width: 600px;
  font-size: 35px;
  padding: 6px;
}
.DetailsButton {
  margin-top: 5%;
  width: 600px;
  max-width: 800px;
  height: auto;
  padding: 2% 0;
  background: rgba(196, 196, 196, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font: normal normal 700 normal 22px/30px "Open Sans";
  font-family: inherit;
  color: var(--theme_green);
}
.form-container {
  max-width: 400px;
  /* border: 2px solid var(--theme_purple); */
  border: 2px solid var(--theme_green);
  padding: 24px;
}
.form-container > * {
  margin: 8px;
}
.input {
  height: 42px;
  font-size: 16px;
}
.icon {
  font-size: 24px;
  /* color: var(--theme_purple); */
  color: var(--theme_green);
}
.link {
  /* color: var(--theme_purple); */
  color: var(--theme_green);
}
.goBackArrow {
  /* display: flex; */
  margin-bottom: 25px;
  align-items: center;
}
.headingb {
  font-size: 35px;
  width: 50%;
}
.goBackArrow2 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.responsiveHeader{
  font-size: 35px;
}

@media (max-width: 1920px) {
  .DetailsButton {
    margin-top: 20px;
    width: 400px;
    max-width: 400px;
    height: 70px;
  }
  .headingb {
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
  }
  .responsiveHeader{
    font-size: 22px;
  }
  .title {
    max-width: 400px;
    font-size: 24px;
    text-align: center;
    /* color: var(--theme_purple); */
    background-color: var(--theme_green);
    color: #ffffff;
    padding: 4px;
  }
}
/* @media (max-width:3600px){
  .DetailsButton{
   height: 100px;
   width: 100%;
  }
 
} */
